@import url("../font/finlandica.css");
:root #jkplayer-box {
  --controls-font-family: "Finlandica", sans-serif;
  --player-border-radius: 10px;
  --player-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.59);
  --theme-color: #00b2ff;
  --controls-buttons-size: 17px;
  --controls-color: #ffffff;
  --remain-time-color: var(--controls-color);
  --range-height: 7px;
  --range-background-color: #ffffff50;
  --buffered-background-color: #ffffff8e;
  --range-thumb-color: #ffffff;
  --range-thumb-size: 15px;
  --controls-spacing: 7px;
  --control-box-spacing: 5px 15px 15px 15px;
  --poster-background-color: #000000;
  --settings-menu-background: #ffffffaf;
  --settings-menu-color: #313131de;
  --settings-menu-color-hover: #ffffff;
  --center-play-button-size: 32px;
  --center-play-icon-size: 18px;
  --center-play-button-color: var(--theme-color);
  --center-play-icon-color: #ffffff;
}

#jkplayer-box {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  outline: none;
}
#jkplayer-box video {
  width: 100%;
  display: flex;
  border-radius: var(--player-border-radius);
  box-shadow: var(--player-box-shadow);
}
#jkplayer-box #jkplayer-poster {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--poster-background-color);
  border-radius: var(--player-border-radius);
}
#jkplayer-box #jkplayer-center-play-button, #jkplayer-box #jkplayer-center-replay-button {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: var(--theme-color);
  border-radius: 5px;
  width: var(--center-play-button-size);
  height: var(--center-play-button-size);
  opacity: 1;
  transition: 0.2s opacity;
}
#jkplayer-box #jkplayer-center-play-button::after, #jkplayer-box #jkplayer-center-replay-button::after {
  content: "";
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: var(--center-play-icon-color);
  width: var(--center-play-icon-size);
  height: var(--center-play-icon-size);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#jkplayer-box #jkplayer-center-play-button::after {
  -webkit-mask-image: url("../icons/play.svg");
          mask-image: url("../icons/play.svg");
  left: 60%;
}
#jkplayer-box #jkplayer-center-replay-button {
  display: none;
}
#jkplayer-box #jkplayer-center-replay-button::after {
  -webkit-mask-image: url("../icons/replay.svg");
          mask-image: url("../icons/replay.svg");
}
#jkplayer-box #jkplayer-controls {
  font-family: var(--controls-font-family);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--control-box-spacing);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: 0.2s bottom;
}
#jkplayer-box #jkplayer-controls .jkplayer-controls-button {
  border: none;
  background: transparent;
  width: var(--controls-buttons-size);
  height: var(--controls-buttons-size);
  background-color: var(--controls-color);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  cursor: pointer;
  margin: 0 var(--controls-spacing);
  border-radius: 5px;
  transition: background 0.1s;
}
#jkplayer-box #jkplayer-controls .jkplayer-controls-button:hover {
  background: var(--theme-color);
}
#jkplayer-box #jkplayer-controls input[type=range] {
  height: var(--range-height);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  overflow: hidden;
  border-radius: 7.5px;
  margin: 0;
}
#jkplayer-box #jkplayer-controls input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background: var(--range-background-color);
  height: var(--range-height);
  border-radius: calc(var(--range-height) / 2);
}
#jkplayer-box #jkplayer-controls input[type=range]:focus {
  outline: none;
}
#jkplayer-box #jkplayer-controls input[type=range]::-webkit-slider-thumb {
  transform: translateY(-5px);
  -webkit-appearance: none;
          appearance: none;
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  background: var(--range-thumb-color);
  border-radius: calc(var(--range-thumb-size) / 2);
  cursor: pointer;
  box-shadow: -500px 0 0 500px var(--theme-color);
}
#jkplayer-box #jkplayer-controls #jkplayer-play-button {
  -webkit-mask-image: url("../icons/play.svg");
          mask-image: url("../icons/play.svg");
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box {
  flex: 7;
  margin: 0 var(--controls-spacing);
  position: relative;
  height: calc(var(--range-height) * 3);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-range {
  width: 100%;
  position: absolute;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-range #jkplayer-timeline-range-current, #jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-range #jkplayer-timeline-buffered {
  border-radius: 5px;
  position: absolute;
  width: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-range #jkplayer-timeline-range-current {
  z-index: 3;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-range #jkplayer-timeline-range-current::after {
  content: "";
  position: absolute;
  right: calc(var(--range-thumb-size) / -2);
  height: var(--range-thumb-size);
  width: var(--range-thumb-size);
  background-color: var(--range-thumb-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-range #jkplayer-timeline-buffered {
  background-color: var(--buffered-background-color);
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-chapters-box {
  width: 100%;
  height: var(--range-height);
  overflow: hidden;
  position: absolute;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-chapters-box .jkplayer-chapter {
  position: absolute;
  top: 50%;
  transform: translate(1.5px, -50%) scaleY(1);
  height: var(--range-height);
  border-radius: var(--range-height);
  background-color: var(--range-background-color);
  opacity: 0.5;
  transition: all 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-chapters-box .jkplayer-chapter:hover {
  transform: translate(1.5px, -50%) scaleY(1.5);
  opacity: 1;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-thumb {
  position: absolute;
  left: 0;
  bottom: calc(100% + 30px);
  border-radius: 5px;
  transform: translateX(-50%);
  background-color: var(--settings-menu-background);
  display: none;
  width: 158px;
  height: 90px;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-thumb #jkplayer-timeline-thumb-time {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}
#jkplayer-box #jkplayer-controls #jkplayer-timeline-box #jkplayer-timeline-thumb #jkplayer-timeline-thumb-name {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 10px;
  box-sizing: border-box;
  transition: color 0.1s;
}
#jkplayer-box #jkplayer-controls #jkplayer-volume-box {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 150px;
  min-width: 100px;
  margin: var(--controls-spacing);
}
#jkplayer-box #jkplayer-controls #jkplayer-volume-box #jkplayer-volume-button {
  -webkit-mask-image: url("../icons/volume-low.svg");
          mask-image: url("../icons/volume-low.svg");
}
#jkplayer-box #jkplayer-controls #jkplayer-volume-box #jkplayer-volume-range {
  width: 100%;
}
#jkplayer-box #jkplayer-controls #jkplayer-duration-time, #jkplayer-box #jkplayer-controls #jkplayer-current-time {
  color: var(--remain-time-color);
  margin: 0 var(--controls-spacing);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
#jkplayer-box #jkplayer-controls #jkplayer-subtitles-button {
  -webkit-mask-image: url("../icons/captions-disabled.svg");
          mask-image: url("../icons/captions-disabled.svg");
  opacity: 0.5;
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box {
  position: relative;
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-button {
  transition: 0.2s transform;
  -webkit-mask-image: url("../icons/settings.svg");
          mask-image: url("../icons/settings.svg");
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu {
  position: absolute;
  right: -10px;
  bottom: calc(100% + 10px);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--settings-menu-background);
  display: none;
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu::after {
  position: absolute;
  bottom: -10px;
  right: 18px;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid var(--settings-menu-background);
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu .jktech-config-option {
  display: flex;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--settings-menu-color);
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu .jktech-config-option::after {
  content: "";
  width: 10px;
  margin-left: 10px;
  background-color: var(--settings-menu-color);
  -webkit-mask-size: 50%;
          mask-size: 50%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  transition: all 0.2s;
  -webkit-mask-image: url("../icons/right.svg");
          mask-image: url("../icons/right.svg");
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu .jktech-config-option:hover {
  background-color: var(--theme-color);
  color: var(--settings-menu-color-hover);
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu .jktech-config-option:hover::after {
  background-color: var(--settings-menu-color-hover);
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu .jktech-config-option .jktech-config-option-name, #jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu .jktech-config-option .jktech-config-option-value {
  width: 80px;
}
#jkplayer-box #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu .jktech-config-option .jktech-config-option-value {
  text-align: right;
}
#jkplayer-box #jkplayer-controls #jkplayer-pip-button {
  -webkit-mask-image: url("../icons/pip.svg");
          mask-image: url("../icons/pip.svg");
}
#jkplayer-box #jkplayer-controls #jkplayer-fullscreen-button {
  -webkit-mask-image: url("../icons/expand.svg");
          mask-image: url("../icons/expand.svg");
}
#jkplayer-box.jkplayer-fullscreen video {
  border-radius: 0;
}
#jkplayer-box.jkplayer-fullscreen #jkplayer-controls #jkplayer-fullscreen-button {
  -webkit-mask-image: url("../icons/compress.svg");
          mask-image: url("../icons/compress.svg");
}
#jkplayer-box.jkplayer-playing #jkplayer-center-play-button {
  opacity: 0;
}
#jkplayer-box.jkplayer-playing #jkplayer-controls #jkplayer-play-button {
  -webkit-mask-image: url("../icons/pause.svg");
          mask-image: url("../icons/pause.svg");
}
#jkplayer-box.jkplayer-replay #jkplayer-center-play-button {
  display: none;
}
#jkplayer-box.jkplayer-replay #jkplayer-center-replay-button {
  display: block;
}
#jkplayer-box.jkplayer-replay #jkplayer-controls #jkplayer-play-button {
  -webkit-mask-image: url("../icons/replay.svg");
          mask-image: url("../icons/replay.svg");
}
#jkplayer-box.jkplayer-subtitles-enabled #jkplayer-controls #jkplayer-subtitles-button {
  opacity: 1;
  -webkit-mask-image: url("../icons/captions.svg");
          mask-image: url("../icons/captions.svg");
}
#jkplayer-box.jkplayer-paused #jkplayer-controls, #jkplayer-box.jkplayer-pip #jkplayer-controls {
  bottom: 0 !important;
}
#jkplayer-box.jkplayer-paused.jkplayer-open-settings #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu, #jkplayer-box.jkplayer-pip.jkplayer-open-settings #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu {
  display: block !important;
}
#jkplayer-box.jkplayer-volume-muted #jkplayer-controls #jkplayer-volume-box #jkplayer-volume-button {
  -webkit-mask-image: url("../icons/volume-muted.svg");
          mask-image: url("../icons/volume-muted.svg");
}
#jkplayer-box.jkplayer-volume-max #jkplayer-controls #jkplayer-volume-box #jkplayer-volume-button {
  -webkit-mask-image: url("../icons/volume-max.svg");
          mask-image: url("../icons/volume-max.svg");
}
#jkplayer-box.jkplayer-hidden-controls #jkplayer-controls {
  bottom: -51px;
}
#jkplayer-box.jkplayer-open-settings #jkplayer-controls {
  bottom: 0 !important;
}
#jkplayer-box.jkplayer-open-settings #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-button {
  transform: rotate(90deg);
}
#jkplayer-box.jkplayer-open-settings #jkplayer-controls #jkplayer-settings-box #jkplayer-settings-menu {
  display: block;
}

@media screen and (max-width: 500px) {
  #jkplayer-box #jkplayer-duration-time {
    display: none;
  }
  #jkplayer-box #jkplayer-controls #jkplayer-volume-box {
    min-width: 14px;
  }
  #jkplayer-box #jkplayer-controls #jkplayer-volume-box #jkplayer-volume-range {
    display: none;
  }
}/*# sourceMappingURL=JKplayer.css.map */